* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body {
  background: #f2f2f2;
}

@font-face {
  font-family: Avenir;
  src: url(../font/Avenir/Avenir\ Regular.ttf);
}
.section2 {
  background-color: white;
  margin-top: 80px;
}
.container {
  padding: 0px 64px;
  max-width: 1440px;
  margin: auto;
}
.row1_wrapper {
  padding: 64px 0px;
}
.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 813px;
}

.row1 > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.content {
  max-width: 483px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 67px;
}

.title {
  font-family: Avenir;
  font-weight: 800;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: 0%;
}

.para {
  font-family: Avenir;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-right: 20px;
  color: #252525;
}

.btn {
  background: #252525;
  color: white;
  padding: 14.5px 48.4px;
  border-radius: 36px;
  outline: none;
  border: none;
  font-family: Avenir;
  font-weight: 100;
  font-size: 24px;

  max-width: 288px;
  max-height: 66px;
  width: 100%;
  height: 100%;
}
.bowl_img {
  width: 100%;
  height: 100%;
  max-width: 690px;
  max-height: 671px;
}
.bowl {
  margin: -155px 0 0 0px;
  width: 100%;
  height: 100%;
}
/* row2 */
.row2_wrapper {
  padding: 0 0 64px;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* min-height: 369px; */
  gap: 20px;
}
.imgs {
  display: flex;
  gap: 24px;
  margin-left: 67px;
  width: 100%;
}
.imgs > div {
  max-width: 200px;
  /* min-height: 369px; */
  width: 100%;
  position: relative;
}

.imgs > div > div {
  position: absolute;
  top: -120px;
  height: 100%;
  min-height: 369px;
  overflow: hidden;
  border-radius: 144px;
}

.card {
  padding-top: 10px;
  max-width: 483px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: end;
}
.card_content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.line {
  width: 52px;
  height: 6px;
  background: #252525;
}
.card_heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card_title {
  font-family: Avenir;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  color: #252525;
}

.card_para {
  font-family: Avenir;
  font-weight: 400;
  font-style: Roman;
  font-size: 22px;
  color: #252525cc;
}

.card_imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card_imgs > div {
  display: flex;
  align-items: center;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 36px;
  }
  .title {
    font-size: 64px;
    line-height: 80px;
  }
  .para {
    font-size: 18px;
    padding-right: 40px;
  }
  .bowl {
    margin-top: 0px;
  }
  .row1_wrapper {
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 42px;
    line-height: 65px;
  }
  .para {
    font-size: 14px;
    padding-right: 25px;
  }
  .bowl {
    margin-top: 0px;
  }
  .row1_wrapper {
    padding: 0px;
  }
  .btn {
    font-size: 18px;
  }
}

@media (max-width: 693px) {
  .container {
    padding: 0 32px;
  }
  .content {
    margin-left: 0;
    margin: auto;
    text-align: center;
    align-items: center;
  }
  .row1 {
    flex-direction: column;
    max-height: 100%;
  }
  .row1_wrapper {
    padding: 48px 0;
  }
  .row1 div {
    max-width: 100%;
  }
  .title {
    font-size: 48px;
  }
  .para {
    font-size: 20px;
    padding-right: 0px;
  }

  .row2 {
    flex-direction: column;
  }

  .imgs {
    height: 100%;
    min-height: 270px;
    margin-left: 0;
  }
  .card {
    margin: auto;
  }
}
